.footer {
  padding: 1rem 5rem;
  background-color: var(--bg-footer);
}

.top-footer {
  padding-left: 2rem;
}

.footer h3 {
  font-size: 22px;
  color: #5c5b5b;
  font-weight: 500;
}

.footer ul {
  display: flex;
  flex-direction: column;
  color: #7f7f7f;
  padding: 0;
  list-style: none;
}

.footer ul li {
  line-height: 26px;
  font-size: 14px;
}

.row {
  display: flex;
  justify-content: center;
}

.col-md-4 {
  width: 25%;
}

.footer ul a:hover {
  color: #000;
}

.bottom-footer {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  color: var(--txt-dark);
  font-size: 11px;
}
.social-media li:nth-child(2) {
  padding-top: 20px;
}

.social-media li a {
  padding-right: 16px;
}

.link-website:hover {
  color: #000;
  text-decoration: underline;
}
